.footer__content {
    display: flex;
    flex-direction: column;
    background-color: $footer-color;
    padding-bottom: 15px;
    a {
        display: flex;
        flex-direction: row;

    }
    i, p {
        padding-left: 15px;
        padding-bottom: 5px;
        color: white;
    }
}
