body {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: sans-serif;
  margin: 0;
}

h6 {
  font-family: "Shrikhand", sans-serif;
  color: white;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: 15px;
}

h1 {
  font-size: 22px;
  font-weight: 800;
}

p {
  margin: 0;
}

.restaurant__name h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 25px;
  font-weight: 500;
}

.menu h2 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
}

.btn {
  box-shadow: 3px 4px 0px 0px #f1eeee;
  background: linear-gradient(to bottom, #FF79DA 5%, #9356DC 100%);
  border-radius: 15px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
}
.btn:hover {
  background: linear-gradient(to bottom, #9356DC 5%, #FF79DA 100%);
  background-color: #bab1ba;
}
.btn:active {
  position: relative;
  top: 1px;
}

.btn--basic {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: inset 0px 1px 0px 0px #ffffff96;
  background-color: #f1eeee;
  border-radius: 15px;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

.footer__content {
  display: flex;
  flex-direction: column;
  background-color: #363434;
  padding-bottom: 15px;
}
.footer__content a {
  display: flex;
  flex-direction: row;
}
.footer__content i, .footer__content p {
  padding-left: 15px;
  padding-bottom: 5px;
  color: white;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0 15px 0;
}

.logo > img {
  width: 180px;
}

#retour {
  position: relative;
  right: 60px;
  font-size: 20px;
}

body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 0 7px 0;
  background-color: #f1eeee;
  border-top: 2px solid grey;
}
.location i {
  margin-right: 20px;
  font-size: 18px;
  margin-bottom: 2px;
}
.location p {
  font-weight: 700;
}

.reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(241, 238, 238, 0.5);
  padding: 40px 10px 40px 10px;
}
.reservation h1 {
  margin: 0 20px 5px 20px;
  text-align: center;
}
.reservation p {
  text-align: center;
  margin: 5px 0 20px 0;
}

.functioning {
  display: flex;
  flex-direction: column;
  padding: 5px 10px 30px 15px;
}
.functioning h1 {
  padding: 30px 0 15px 0;
}
.functioning .functioning__listing {
  display: flex;
  flex-direction: column;
}
.functioning .functioning__listing .functioning__section {
  justify-content: center;
  margin-bottom: 10px;
}
.functioning .functioning__listing .functioning__section i {
  padding: 10px;
  color: grey;
}
.functioning .functioning__listing .functioning__section i:hover {
  color: #9356DC;
}

.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(241, 238, 238, 0.5);
  padding: 10px 5px 50px 5px;
}
.restaurant h1 {
  padding: 30px 0 15px 15px;
}
.restaurant .restaurant__listing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

.thumbnail {
  border-radius: 15px;
  background-color: white;
  margin: 10px;
}
.thumbnail img {
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 215px;
}

.thumbnail__content {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.thumbnail__content .text {
  margin-left: 10px;
}
.thumbnail__content .text h3 {
  margin-top: 10px;
}
.thumbnail__content .text p {
  margin-top: 2px;
  margin-bottom: 10px;
}
.thumbnail__content i {
  font-size: 24px;
  margin-right: 20px;
  margin-top: 20px;
}

.new {
  display: none;
}

.restaurant__page {
  display: flex;
  flex-direction: column;
}
.restaurant__page .restaurant__name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px 25px 0 0;
  background-color: #f1eeee;
  margin-top: -30px;
  padding: 20px 25px 20px 15px;
}
.restaurant__page .restaurant__name i {
  font-size: 20px;
}

.restaurant__picture img {
  object-fit: cover;
  width: 100%;
}

.menu {
  background-color: #f1eeee;
  padding-bottom: 30px;
  padding: 10px;
}
.menu h2 {
  color: gray;
  margin-bottom: 5px;
}
.menu .lign {
  background-color: #99E2D0;
  width: 35px;
  height: 2px;
  margin-bottom: 20px;
}

.items {
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 15px;
  box-shadow: 1px 3px 8px #b1aeae;
}
.items .items__infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.items .items__infos .prix {
  font-weight: bold;
}

.commander {
  display: flex;
  justify-content: center;
  padding: 40px;
}

/*# sourceMappingURL=style.css.map */
