.btn {
    box-shadow: 1px 1px 5px $ombre_color;
	background:linear-gradient(to bottom, $secondary-color 5%, $primary-color 100%);
	border-radius:30px;
	border: 0px none;
	color:white;
	padding:15px 25px;
	text-decoration:none;
    &:hover {
        filter: brightness(1.25);
		box-shadow: 7px 7px 5px $ombre_color;
    }
    &:active {
        position:relative;
        top:1px;
		box-shadow: 7px 7px 5px $ombre_color;
    }
}
.btn--basic {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 1px 1px 5px $ombre_color;
	background-color:$grey-color;
	border-radius:15px;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.commander {
	.btn {
		padding: 15px 50px;
		border-radius: 30px;
	} 
}