body {

    margin: 0;
}
main {
    display: flex;
    flex-direction: column;
}
// 
.location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px 0 7px 0;
    background-color: $grey-color;
    border-top: 2px solid grey;
    i {
        margin-right: 20px;
        font-size: 18px;
        margin-bottom: 2px;
    }
    p {
        font-weight: 700;
    }
}
// 
.reservation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $grey-color-low;
    padding: 40px 10px 40px 10px;
    h1 {
        margin: 0 20px 0 20px;
        text-align: center;
    }
    p {
        text-align: center;
    }
    
}
// 
.functioning {
    display: flex;
    flex-direction: column;
    padding: 5px 10px 30px 15px;
    h1 {
        padding: 30px 0 15px 15px;
    }
    .functioning__listing {
        display: flex;
        flex-direction: column;
        .functioning__section {
            justify-content: center;
            margin-bottom: 10px;
            i {
                padding: 10px;
            }
        }

    }
}
// 
.restaurant {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: $grey-color-low;
    h1 {
        padding: 30px 0 15px 15px;
    }
    .restaurant__listing {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


a {
    text-decoration: none;
    color: black;
}

.thumbnail {
    border-radius: 15px;
    background-color: white;
    margin: 10px;
    img {
        object-fit: cover;
        border-radius: 15px 15px 0 0;
        width: 100%;
        height: 215px;
    }
}
.thumbnail__content {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .text {
        margin-left: 10px;
        h3 {
            margin-top: 10px;
        }
        p {
            margin-top: 2px;
            margin-bottom: 10px;
        }
    }
    i {
        font-size: 24px;
        margin-right: 20px;
        margin-top: 20px;
    }
}
.new {
    display: none;
}