body {
    margin: 0;
}
.section {
    z-index: 7;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: white;
}
main {
    display: flex;
    flex-direction: column;
}
// 
.location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px 0 7px 0;
    background-color: $grey-color;
    border-top: 3px inset $top-lign;
    i {
        margin-right: 20px;
        font-size: 18px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    p {
        font-weight: 600;
    }
}
// 
.reservation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $grey-color-low;
    padding: 40px 10px 50px 10px;
    h1 {
        margin: 0 20px 5px 20px;
        text-align: center;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    p {
        text-align: center;
        margin: 5px 0 20px 0;
    }
    .btn {
        position: relative;
    }
    
}
// 
.functioning {
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 5px 15px 40px 15px;
    h1 {
        padding: 30px 0 15px 0;

    }
    .functioning__listing {
        display: flex;
        flex-direction: column;
        padding: 0 10px 5px 10px;
        .functioning__section {
            position: relative;
            justify-content: flex-start;
            margin-bottom: 20px;
            &:hover {
                background-color: $primary-color-bacground;
                i {
                    color: $primary-color;
                } 
            }
            i {
                font-size: 20px;
                padding: 20px;
                color: grey;
            }
            p {
                margin-left: 5px; 
            }
        }

    }
}
.span {
    position: absolute;
    top: 20px;
    left: -15px;
    padding: 5px 10px;
    border-radius: 50%;
    color: white;
    background-color: $primary-color;
}
// 
.restaurant {

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $grey-color-low;
    padding: 10px 5px 50px 5px;
    h1 {
        padding: 30px 0 15px 10px;
    }
    .restaurant__listing {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


a {
    text-decoration: none;
    color: black;
}

.thumbnail {
    border-radius: 15px;
    background-color: white;
    margin: 15px;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    img {
        object-fit: cover;
        border-radius: 15px 15px 0 0;
        width: 100%;
        height: 215px;
    }
}
.thumbnail__content {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .text {
        margin-left: 10px;
        h3 {
            margin-top: 10px;
        }
        p {
            margin-top: 2px;
            margin-bottom: 10px;
        }
    }
    i {
        font-size: 24px;
        margin-right: 20px;
        margin-top: 20px;
        color: white;
        background-clip: text;
        -webkit-background-clip: text;
        text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
        cursor: pointer;
        &:hover {
            text-shadow: none;
            transition: all 1s cubic-bezier(0,1.55,.56,.74);
            background-image:linear-gradient(to top, $primary-color 0%, $secondary-color 100%);
            color: transparent;
        }
        &:active {
            transition: all 1s cubic-bezier(0,1.55,.56,.74)s;
            background-image:linear-gradient(to top, $primary-color 1%, $secondary-color 100%);
            color: transparent;
            text-shadow: none;
        }
        &:visited {
            transition: all 1s cubic-bezier(0,1.55,.56,.74);
            background-image:linear-gradient(to top, $primary-color 1%, $secondary-color 100%);
            color: transparent;
            text-shadow: none;
        }
    }
}
.new {
    display: flex;
    justify-content: center;
    background-color: $tertiary-color;
    width: 80px;
    padding: 5px;
    top: 10px;
    right: 10px ;
    border-radius: 2px;
    //transform: translate(-15%, -55%);
    margin: 0;
    position: absolute;
    p {
        font-weight: 600;
        color: $tertiary-color-p;
        font-size: 14px;
    }
}

//  tablette
@media screen and (min-width:768px) and (max-width:1023px) {
    .functioning__listing {
        flex-direction: row !important;
        .functioning__section {
            margin: 15px;
        }
    }
    .restaurant {
        .restaurants__listing {
            display: flex;
            flex-direction: row !important;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    .thumbnail {
        width: 300px;
    } 
}

// desktop 
@media screen and (min-width:1024px) {
    .functioning {
        min-width: 1070px;
        max-width: 1080px;
        margin: auto;
    }
    .functioning__listing {
        justify-content: space-around;
        flex-direction: row !important;
        .functioning__section {
            margin: 15px;
        }
    }
    .restaurant {
        max-width: 1080px;
        margin: auto;
        .restaurants__listing {
            display: flex;
            flex-direction: row !important;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    .thumbnail {
        width: 300px;
    }
}