$primary-color: #9356DC;
$primary-color-bacground :#f3ecfc;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$tertiary-color-p:#1e9b7b;
$grey-color: rgb(241, 238, 238, 1);
$grey-color-low: rgb(241, 238, 238, 0.5);
$footer-color: rgb(54, 52, 52);
$ombre_color: rgb(177, 174, 174);
$top-lign: rgba(184, 184, 184, 0.2);